[core]
price:0
maxHp:1
mass:1
radius:0
isUnselectable:true
isUnselectableAsTarget:true
canNotBeDirectlyAttacked:true
canNotBeDamaged:true
canNotBeGivenOrdersByPlayer:true
disableAllUnitCollisions:true
showOnMinimap:false
showInEditor:false
defineUnitMemory:unit disguiseTarget

[hiddenAction_同步伪装阵营]
autoTriggerOnEvent:newMessage(withTag='同步伪装阵营')
setUnitMemory:disguiseTarget=eventData(name='disguiseTarget',type='unit')
switchToTeam:eventData(name='disguiseTarget',type='unit').teamId()

[attack]
canAttack:false
maxAttackRange:0

[movement]
movementType:NONE
moveSpeed:0

[graphics]
image:ROOT:地球联合政府/步兵/t1步兵基础/步兵基座.png
image_back:ROOT:地球联合政府/步兵/t1步兵基础/步兵身体(c).png
image_turret:NONE
image_offsetY:-7
teamColorsUseHue:false
showHealthBar:false
showEnergyBar:false
showTransportBar:false
showQueueBar:false
