# 军衔系统
[hiddenAction_init_exp]
buildSpeed:0
autoTriggerOnEvent   : completeAndActive
autoTrigger:if self.resource.grade==0
setResourcesWithLogic: exp=0,grade=1

[hiddenAction_addExp]
buildSpeed:0
autoTriggerOnEvent   : killedAnyUnit
addResourcesWithLogic: exp=eventSource.priceCredits()+eventSource.resource.exp*0.5+eventSource.resource.selfExtraPrice

# 精英预备队出厂经验
[hiddenAction_精英预备队_步兵]
autoTriggerOnEvent:newMessage(withTag='精英预备队_步兵')
addResources:exp=500

[hiddenAction_精英预备队_装甲]
autoTriggerOnEvent:newMessage(withTag='精英预备队_装甲')
addResources:exp=2000

[hiddenAction_精英预备队_空军]
autoTriggerOnEvent:newMessage(withTag='精英预备队_空军')
addResources:exp=1000

[hiddenAction_addGradeTo2]
buildSpeed:0
autoTrigger :if (self.resource.grade == 1 and self.resource.exp >= 3*(self.priceCredits()+self.resource.selfExtraPrice))
addResources:grade = 1
setUnitStats:maxHp=${core.maxHp*1.1}, shootDamageMultiplier=1.1,movespeed=self.maxMoveSpeed+0.05,maxAttackRange=${attack.maxAttackRange+10}
spawnEffects:CUSTOM:updating

[hiddenAction_addGradeTo3]
buildSpeed  : 0
autoTrigger : if (self.resource.grade == 2 and self.resource.exp >= 5*(self.priceCredits()+self.resource.selfExtraPrice))
addResources: grade = 1
setUnitStats: maxHp=${core.maxHp*1.4}, shootDamageMultiplier=1.3, movespeed=self.maxMoveSpeed+0.1, maxAttackRange=${attack.maxAttackRange+15}
spawnEffects:CUSTOM:updating

[hiddenAction_addGradeTo4]
buildSpeed  : 0
autoTrigger : if (self.resource.grade == 3 and self.resource.exp >= 8*(self.priceCredits()+self.resource.selfExtraPrice))
addResources: grade = 1
setUnitStats: maxHp=${core.maxHp*2}, shootDamageMultiplier=1.7, movespeed=self.maxMoveSpeed+0.13, maxAttackRange=${attack.maxAttackRange+20}
spawnEffects:CUSTOM:updating

[hiddenAction_addGradeTo5]
buildSpeed  : 0
autoTrigger : if (self.resource.grade == 4 and self.resource.exp >= 15*(self.priceCredits()+self.resource.selfExtraPrice))
addResources: grade=1
setUnitStats: maxHp=${core.maxHp*2.5}, shootDamageMultiplier=2.2, movespeed=self.maxMoveSpeed+0.16, maxAttackRange=${attack.maxAttackRange+25}
spawnEffects:CUSTOM:updating

[hiddenAction_addGradeTo6]
buildSpeed  : 0
autoTrigger : if (self.resource.grade == 5 and self.resource.exp >= 20*(self.priceCredits()+self.resource.selfExtraPrice))
addResources: grade=1
setUnitStats: maxHp=${core.maxHp*3}, shootDamageMultiplier=2.5, movespeed=self.maxMoveSpeed+0.2, maxAttackRange=${attack.maxAttackRange+30}
spawnEffects:CUSTOM:updating

[hiddenAction_addhp]
autoTrigger:if self.resource.grade>4
addResources:hp=5

[hiddenAction_reset]
buildSpeed        : 0
requireConditional:if self.resource.grade>=2
addResources:grade=-1

[decal_grade]
layer       : beforeUI
imageScale  : ${core.radius/20}
image       : ROOT:shared/levels.png
total_frames: 6
frame       : int(self.resource.grade)-1
xOffsetAbsolute:${core.radius/1.7}
yOffsetAbsolute:${core.radius/1.7}
alwaysStartDirAtZero:true
alwaysStartHeightAtZero:true

[effect_updating]
image:ROOT:shared/升级.png
life:60
priority:high
attachedToUnit:true
alwayStartDirAtZero:true
hSpeed:3
fadeOut:true
scaleTo:0.2
scaleFrom:0.5

# 进驻军事建筑修正
[attack]
maxAttackRange:0

[hiddenAction_addAttack]
autoTrigger:if self.hasParent(withTag='militaryBuilding') and not self.hasFlag(id=1)
setUnitStats:maxAttackRange+=80, shootDelayMultiplier+=0.6,shootDamageMultiplier+=0.6
addResources:setFlag=1

[hiddenAction_subAttack]
autoTrigger:if not self.hasParent(withTag='militaryBuilding') and self.hasFlag(id=1)
setUnitStats:maxAttackRange-=80, shootDelayMultiplier-=0.6,shootDamageMultiplier-=0.6
addResources:unsetFlag=1
