[core]
dont_load:true
copyFrom:ROOT:templete/mech.ini


[hiddenAction_died_because_of_ACU]
autoTrigger:if numberOfUnitsInTeam(withTag='ACU',lessThan=1) and self.resource.time>10
setResourcesWithLogic:hp=0
deleteSelf:true
[hiddenAction_tags]
autoTrigger:true
temporarilyAddTags:SPARK


[hiddenAction_time]
autoTrigger:true
addResources:time=1

[resource_time]
hidden:true

[resource_attackedtime]
hidden:true

[resource_Gift]
displayName:「馈赠」
displayRoundedDown:true
hidden:false

#displayWhenZero:true

[hiddenAction_addhpByGift]
autoTrigger:if self.hp()<self.maxHp() and self.resource.Gift>0
addResources:hp=10,Gift=-10

[hiddenAction_addhpByExp]
autoTrigger:if self.hp()==self.maxHp() and self.resource.Gift>0
addResources:exp=2,Gift=-10


[hiddenAction_massEffect]
autoTrigger:if self.resource.Gift>0
spawnEffects:CUSTOM:massGiven

[hiddenAction_beenAttackedAddHealth]
autoTriggerOnEvent:tookdamage
setResourcesWithLogic:attackedtime=0

[hiddenAction_beenAttackedAddHealth2]
autoTrigger:if self.resource.attackedtime>15
addResources:hp=10

[hiddenAction_beenAttackedAddHealth3]
autoTrigger:true
addResources:attackedtime=1


[effect_massGiven]
life:60
attachedToUnit:true
dirSpeed:-0.2
dirSpeedRandom:0.05
image:ROOT:SPARK/SPARK建造者/质量投射场.png
scaleTo:0.4
scaleFrom:0.3
fadeInTime:10
fadeOut:true
alpha:0.2
teamColorRatio:0.5

